# CODEOWNERS
#
# The default owners are automatically requested for review on every pull
# request. Order is not significant; all listed owners are default owners
# for the entire repository.
#
# Reference: https://docs.github.com/articles/about-code-owners

* @danischm @ChristopherJHart @aitestino
